body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

header{
    
    border: 2px solid black;
    margin: 15px;
    height: 15%;
}
main{
    border: 2px solid black;
    margin: 15px;
    height: 80%;
}

section{
    border: 2px solid black;
    margin: 15px;
    height: 40%;
}